<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiaoma.mapper.Dymanic_Code_Mapper">


<select  id="change_text"   parameterType="java.util.Map">  
        update code set text=(#{text}) where code_id= (#{code_id})
    
</select > 


<select  id="Get_code_text"   parameterType="java.util.Map" resultType="java.util.HashMap">       
        select text from code where code_id= (#{code_id})
</select > 



</mapper>
