<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiaoma.mapper.Dymanic_Code_Mapper">


<select  id="change_text"   parameterType="java.util.Map">  
        update code set text=(#{text}) where code_id= (#{code_id})
    
</select > 


<select  id="Get_code_text"   parameterType="java.util.Map" resultType="java.util.HashMap">       
        select * from code where code_id= (#{code_id})
</select > 

<select  id="create_Dy_code"  parameterType="com.tiaoma.model.Dy_Code">  
        insert into code(code_id,user_id,title,html_url,img_url,text,create_date,type)
        values (#{code_id},#{user_id},#{title},#{html_url},#{img_url},#{text},#{create_date},#{type}) 
    
</select >

<select  id="manager_code"   parameterType="java.util.Map" resultType="java.util.HashMap">       
        select * from code where user_id= (#{user_id})
</select > 

<select  id="delete_code"   parameterType="java.util.Map" >       
       
        DELETE FROM code WHERE code_id = (#{code_id}) 
</select > 

<select  id="updata_code"   parameterType="java.util.Map" >       

        UPDATE code SET title = (#{title}),text = (#{text}),type = (#{type}) WHERE code_id = (#{code_id}) 
</select >
  
</mapper>
