<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiaoma.mapper.UserMapper">


<select  id="user_registe"  parameterType="com.tiaoma.model.User">  
        insert into user(username,password,email,phone)
        values (#{username},#{password},#{email},#{phone}) 
    
</select >  

<select  id="change_text"   parameterType="java.util.Map">  
        update code set text=(#{text}) where code_id= (#{code_id})
    
</select > 

<select  id="user_login"   parameterType="java.util.Map" resultType="java.util.HashMap">  
        select * from user where username=(#{username})
    
</select > 





</mapper>
