*,
::before,
::after,
{
	margin: 0;
	padding:0;
	-webkit-tap-highlight-color:transparent;
	/*鐩掑瓙浠ヨ竟妗嗚绠楀搴�*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;  /*Firefox */
	-webkit-box-sizing:border-box;  /*Safari */
}	
body{
	font-size:14px;
	font-family: "MicroSoft Yahei",sans-serif;
	color: #333;
	background-color: #f4f4f4;
	margin: 0;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	-webkit-appearance:none;
	border: 0;
}

.f_left{
	float: left;
}
.f_right{
	float: right;
}
.clearf::before,
.clearf::after
{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
ul,ol{
	list-style: none;
}
.cd-layout>.bottom-nav {
    width: 100%;
    bottom: 2%;
    height: 10%;
    position: fixed;
    left: 0;
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
}
