body{
	background-color: #fff;
	height:auto;
}
.cd-layout{
	width: 100%;
	max-width: 640px;
	min-width: 300px; 
	margin: 0 auto;
	position: relative;
}
.cd-header{
	position: fixed;
	left: 0;
	top: 0;
	height:60px;
	width:100%;
	
}
.cd-header>.cd-header-box{
	width:100%;
	margin: 0 auto;
	background-color:#fafafa ;
	height:60px;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
}
.cd-header>.cd-header-box>a{
	line-height: 60px;
	font-size: 30px;
	font-weight: 700;
}
.cd-header>.cd-header-box>span{
	line-height: 60px;
	font-size: 20px;
/*	font-weight: 700;*/
	letter-spacing:10px;
}
.mar-l10{
	margin-left: 10px;
}
.mar-r10{
	margin-right:10px;
}

/*�༭��*/
.text-wrap>.toolbar{
	margin-top: 100px;
	width: 100%;
	height:150px;
}

.text-wrap>.toolbar>.toolbar1,
.text-wrap>.toolbar>.toolbar2{
	margin:10px auto;
	height:60px;
	text-align: center; 
	width: 272px;
}

.text-wrap>.toolbar>.toolbar1>a,
.text-wrap>.toolbar>.toolbar2>a
{
	width: 60px;
	height:80px;
	float: left;
	margin-right: 30px;

}
.text-wrap>.toolbar>.toolbar1>a>img,
.text-wrap>.toolbar>.toolbar2>a>img{
	width: 50px;
	height:50px;

}
.selected{
	border:1px solid #ccc;
	border-radius: 25%;
	background-color:#FF8C00;
	opacity:0.7;
}
/*�ı���*/
.text-wrap>.textArea-box{
	margin: 0 auto;
	padding-top: 20px;
	width: 266px;
	height:auto;
	border-top: 1px solid #ccc;


}
.main_text{
	width: 260px;
	height:150px;
	position: absolute;
	margin-left:-130px;
	left: 50%;
	font-size:16px;
}
/*�ײ�*/




.w-50{
	width:50%;
	display: block;
}
.w-50>img{
	display: block;
	width:50px;
	height:50px;
	margin:0 auto ;
	margin-top: 10px;
}

.w-50>.icon-user{
	margin-top: 3px;
	margin-left: 50%;
	vertical-align: top;
    margin-top: -15px;
}

.cd-layout>.bottom_nav{
	
	width:100%;
	height:10%;
	margin: 0 auto;
	background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
}

.cd-layout>.bottom-nav>a
{
	width:50%;
	display: block;
	float: left;
	padding-left:15px ;
	line-height: 50px;
	font-size:16px;
	font-weight: bold;
	color: #eee;
	text-align:center;
	
}
.url_input{
	border:1px solid #EAEAEA;
	height:45px;
	font-size:22px;
}
.wx{
	font-size:18px;
}
input::-webkit-input-placeholder{
    color:EAEAEA;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:EAEAEA;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:EAEAEA;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:EAEAEA;
}


#page_1{
	display="none";
}
#page_2{
	display="none";
}
#page_4{
	display="none";
}
#page_5{
	display="none";
}
#page_6{
	display="none";
}
.btns_Singular{
	padding: .5rem 1rem;
    line-height: 1.4;
    background-color: #4caf50;
    color: rgba(255,255,255,1);
    font-weight: 500;
    outline: 0!important;
    border-radius: 4px;
    margin:4% auto;
	
}
.div_Singular{
	width:100%;
	text-align: center;
	margin:4% auto;

}
#preimg{
	
	margin:2% auto;
	display: block;
}
.div_Singular span{
	
	text-align: center;

}
.div_two{
	width:100%;
	text-align: center;
	margin:4% auto;
	padding-top:4%;

}
.btns{
	width:49%;
	padding: .5rem 1rem;
    line-height: 1.4;
    background-color: #4caf50;
    color: rgba(255,255,255,1);
    font-weight: 500;
    outline: 0!important;
    border-radius: 4px;
    margin:4% auto;
	
}



