body{
	background-color: #fff;
}
/* header */
.cd-layout{
	width: 100%;
	/*max-width: 640px;
	min-width: 300px; */
	margin: 0 auto;
	position: relative;
}
.cd-header{
	position: fixed;
	left: 0;
	top: 0;
	height:60px;
	width:100%;
	
}
.cd-header>.cd-header-box{
	width:100%;
	margin: 0 auto;
	background-color:#fafafa ;
	height:60px;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
}
.cd-header>.cd-header-box>a{
	line-height: 60px;
	font-size: 30px;
	font-weight: 700;
}
.cd-header>.cd-header-box>span{
	line-height: 60px;
	font-size: 20px;
/*	font-weight: 700;*/
	letter-spacing:10px;
}
.mar-l10{
	margin-left: 10px;
}
.mar-r10{
	margin-right:10px;
}
/* main */
.main-wrap{
	margin-top:100px;
	width: 100%;
	text-align:center;
}
.title{
	margin: 0 auto;
	width: 200px;
	height: 30px;
	text-align: center;
	/* border:1px solid #ccc; */
	background-color: bisque;
	border-radius: 10px;
}
.title>label{
	line-height: 30px;
	font-size: 20px;
	letter-spacing:10px;
	font-weight: bold;
}
.cd_img{
	margin:0 auto;
	width: 250px;
	height: 250px;
}
.cd_img>img{
	width: 250px;
	height:250px;
}
.cd_detail{
	margin:0 auto;
	width: 400px;
	height: 150px;
	text-align: center;
	background-color: bisque;
	border: 2px  solid bisque;
	border-radius: 10px;
}
.cd_detail>label{
	margin: 0 auto;
	line-height: 150px;
	font-size: 20px;
	letter-spacing:10px;
}
.btn_wrap{
	text-align: center;
}
.btn{
	margin: 20px 20px;
	border: 2px solid darksalmon;
	border-radius: 10px;
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: darksalmon;
	width: 130px;
	height: 40px;
	letter-spacing:5px;
}

/*foot*/
.cd-layout>.bottom-nav{
	width:100%;
	bottom: 0;
	height:80px;
	
	left: 0;
	background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
}

.w-50{
	width:50%;
	display: block;
}
.w-50>img{
	display: block;
	width:50px;
	height:50px;
	margin-left: 50%;
	margin-top: 10px;
}

.w-50>.icon-user{
	margin-top: 3px;
	margin-left: 50%;
	vertical-align: top;
    margin-top: -15px;
}
.cd-layout>.bottom-nav>a
{
	width:50%;
	line-height: 50px;
	font-size:16px;
	font-weight: bold;
	color: #eee;
	text-align:center;
}
