.cd-layout{
	width: 100%;
	/*max-width: 640px;
	min-width: 300px; */
	margin: 0 auto;
	position: relative;
}
.cd-header{
	position: fixed;
	left: 0;
	top: 0;
	height:60px;
	width:100%;
	
}
.cd-header>.cd-header-box{
	width:100%;
	/*max-width: 640px;
	min-width: 300px;*/
	margin: 0 auto;
	background:rgb(128,128,128);
	box-shadow: 0 0 1px #e0e0e0;
	height:60px;
	position: relative;
	
}
.cd-header>.cd-header-box>h2
{
	line-height:60px;
	text-align: center;
	background:rgb(128,128,128);
}
.cd-header>.cd-header-box>a{
	line-height: 60px;
}
.cd-header>.cd-header-box>a>img{
	width:60px;
	height:60px;
}
.cd-header>.cd-header-box>a>.pic{
	margin-top: 10px;
	width:40px;
	height:40px;
	margin-left: 15px;
}
.mar-l10{
	margin-left: 10px;
}
.mar-r10{
	margin-right:10px;
}

/*搴曢儴瀵艰埅鏍�*/


.w-50{
	width:50%;
	display: block;
}
.w-50>img{
	display: block;
	width:50px;
	height:50px;
	margin-left: 40%;
}


.cd-layout>.bottom-nav>a
{
	width:50%;
	line-height: 50px;
	font-size:16px;
	font-weight: bold;
	color: #eee;
	text-align:center;
}
/*user鍖�*/
.user-bg{
	width:100%;
/*	max-width: 640px;
	min-width: 300px;*/
	margin: 0 auto;
	height:150px;
	background-image: url(bg1.jpg);
	
	background-size: 100%;
	border-bottom: 1px solid #ccc;
	margin-top: 65px;
	box-shadow: 0 0 1px #e0e0e0;
}
.user-bg>.user-ph>img{
	border:1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
	width:80px;
	height:80px;
	border-radius: 50%;
	margin-top: 55px;
	margin-left: 30px;
}
.user{
	width:100%;
	/*max-width: 640px;
	min-width: 300px;*/
	margin: 0 auto;
	
	height:65px;
	border: 1px solid #ccc;
	background-color:#ffffff;
	margin-top:-55px;
	box-shadow: 0 0 1px #e0e0e0;
	z-index: 1000;
}
/*涓昏鍐呭鍖�*/
.codemain{
	width:100%;
	/*max-width: 640px;
	min-width: 300px;*/
	margin: 0 auto;
	height:200px;
	background-color:#ffffff;
	margin-top: 3px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
	display:inline-block;
}
.codemain>.scan{
	width:100px;
	height:100px;
	border:1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
	border-radius: 25%;
	display: block;
	margin-top: -50px;
	margin-left: -50px;
	position: relative;
	left: 25%;
	top: 40%;
}
.codemain>.madecode{
	width:100px;
	height:100px;
	border:1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
	border-radius: 25%;
	margin-top: -50px;
	margin-right: -50px;
	position: absolute;
	top: 46.5%;
	right: 25%;
}
.codemain>.scan>img,
.codemain>.madecode>img
{
	width:80px;
	height:80px;
	margin-top: -40px;
	margin-left: -40px;
	position: absolute;
	top: 50%;
	left: 50%;
}
/*鏉備竷鏉傚叓鐨勫姛鑳�*/
.others{
	width:100%;
	margin: 0 auto;
	height:150px;
	background-color:#ffffff;
	margin-top: 3px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
	display:inline-block;
	/*position: fixed;
	bottom: 55px;*/
}
.others>.favorites,
.others>.history,
.others>.feedback,
.others>.help
{
	width:55px;
	height:55px;
	border:1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
	border-radius: 25%;
	position: relative;
	float:left;
	margin-top: -27.5px;
	margin-left: -27.5px;
	top: 50%;
}
.others>.favorites{
	left: 15%;

}
.others>.history{
	left: 30%;
}
.others>.feedback{
	left: 45%;
}
.others>.help{
	left: 60%;
}

.others>.favorites>img,
.others>.history>img,
.others>.feedback>img,
.others>.help>img
{
	width:35px;
	height:35px;
	margin-top: -17.5px;
	margin-left: -17.5px;
	position: absolute;
	top: 50%;
	left: 50%;
}