*,::before,::after{
				
				padding:0px;
				margin: 0px;
				list-style:none;
				box-sizing: border-box;
			}
#body{
	
	width: 100%;
    height:  auto;
    max-width: 640px;
    min-width: 300px;
    
    margin: 8% auto;
    background: rgb(245,245,245);
	
}
#title{
	
	margin: 0 auto;
	text-align: center;
	margin: 4% 0%;
}
li{
	width: 100%;
	height: auto;
	margin: 2% auto;
	list-style: none;
	background: #FFFFFF;
	padding: 1% 2%;
	float: left;
	
}

#list_img,#list_text,#list_view{
	
	width: 30%;
	float: left;
	text-align: center;
	margin: 1% 1%;
	
}

#list_img >img{
	
	width: 120px;
	height: 120px;
}
#list_text,#list_view{
	text-align: left;
}

#list_text >p{
	
	font-size: 18px;
    color: #4a4a4a;
    line-height: 20px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    margin-bottom:3%;
    padding-bottom:3% ;
    padding-top: 15%;
	
	
}
#list_view{
	text-align: center;
	line-height: inherit;
	padding-top:8% ;
}
#list_view >a{
	
	margin-left:1% ;
	color: deepskyblue;
	font-size: 16px;
}
.cd-header{
	position: fixed;
	left: 0;
	top: 0;
	height:60px;
	width:100%;
	
}
.cd-header>.cd-header-box{
	width:100%;
	margin: 0 auto;
	background-color:#fafafa ;
	height:60px;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
}
.cd-header>.cd-header-box>a{
	line-height: 60px;
	font-size: 30px;
	font-weight: 700;
}
.cd-header>.cd-header-box>span{
	line-height: 60px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing:20px;
}
.cd-layout>.bottom-nav{
	width:100%;
	bottom: 2px;
	height:10%;
	position:fixed;
	left: 0;
	background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
}
.cd-layout>.bottom-nav>a{
    width: 50%;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    text-align: center;
}
.w-50>img {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 40%;
}




