body{
	background-color: #fff;
}
.cd-layout{
	width: 100%;
	/*max-width: 640px;
	min-width: 300px; */
	margin: 0 auto;
	position: relative;
}
.cd-header{
	position: fixed;
	left: 0;
	top: 0;
	height:60px;
	width:100%;
	
}
.cd-header>.cd-header-box{
	width:100%;
	margin: 0 auto;
	background-color:#fafafa ;
	height:60px;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 1px #e0e0e0;
}
.cd-header>.cd-header-box>a{
	line-height: 60px;
	font-size: 30px;
	font-weight: 700;
}
.cd-header>.cd-header-box>span{
	line-height: 60px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing:20px;
}
.mar-l10{
	margin-left: 10px;
}
.mar-r10{
	margin-right:10px;
}
/*顶部结束输入部分*/
.cd-layout>.wrap{
	margin-top:140px;
	width:100%;
	height:40%;
	
}
.wrap>form>.u-name{
	margin-top: 40px;
}
.wrap>form>.u-name,
.wrap>form>.u-pas,
.wrap>form>.u-repas,
.wrap>form>.u-email,
.wrap>form>.u-phone,
.wrap>form>.submit
{
	width: 100%;
	height:20%;
	text-align: center;
	
}

.wrap>form>.u-name>div,
.wrap>form>.u-pas>div,
.wrap>form>.u-repas>div,
.wrap>form>.u-email>div,
.wrap>form>.u-phone>div{
	display: inline-block;
	width: 70px;
	height:30px;
	font-size: 14px;
/*	border-bottom: 1px solid #ccc;
*/}
input{
	width: 30%;
	height:30px;
	border-bottom: 1px solid #ccc;
}
input[type="submit"]{
	width:70px;
	height: 70px;
	background-color:#FFA500;
	font-size:18px;
	color: #fafafa;
	font-weight: 700;
	border-radius: 50%;
}
input[type="reset"]{
	width:70px;
	height: 70px;
	background-color:#FFA500;
	font-size:18px;
	color: #fafafa;
	font-weight: 700;
	border-radius: 50%;
}